# JWT Secret (сгенерируйте свой для разработки)
JWT_SECRET=your_jwt_secret_here_min_32_chars_long
JWT_EXPIRATION=your_expiration_time_in_ms

# Google reCAPTCHA
# Получите свои ключи на https://www.google.com/recaptcha/admin
GOOGLE_RECAPTCHA_SECRET=your_secret_key_here
